
@font-face{
	font-family: Shadows;
	src: url(font-family: 'Shadows Into Light', cursive;
);
}

body{
	text-align: center;
	font-family: Kingthings_Wrote;
	font-size: 30px;
	margin: 0px;
}

.drop-text {
position: absolute;
top: 220px;
left: 810px;
color: #000000;	
z-index: -1;

}

.droplet {
  position: relative;
  text-align: center;
}

.droplet>img {
   /**/-moz-transform:scale(1,1);-webkit-transform:scale(1,1);
    transform:scale(1,1);
    /**/-webkit-transition:all 600ms ease;-webkit-transition:all 600ms ease;
    transition:all 600ms ease; }

    .droplet:hover>img {
        /**/-moz-transform:scale(-1,1);-webkit-transform:scale(-1,1);
        transform:scale(-1,1); }
